/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/

* {
margin:0;
padding:0
}

/* ----------------------------------------------------------------------
								BODY
-------------------------------------------------------------------------*/
body {
	background:#fff;
	color:#666;
	font:1.0em/100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	line-height:1.4em;
	border:0;
	margin:0;
	padding:0;

}

div, p
{
	margin:0px;
	padding:0px;
}

/* ----------------------------------------------------------------------
								GENERAL
-------------------------------------------------------------------------*/
a {
	color:#9A0;
	text-decoration:none;
}
a:hover {
	color:#555;
	text-decoration:none;
}

.linklessLink {	color:#9A0; cursor:pointer; }
.linklessLink:hover {text-decoration:underline;color:#9A0}

input, select
{
	font-size:large;
}

/* ----------------------------------------------------------------------
								HEADER
-------------------------------------------------------------------------*/
#header {
	background-color:#323232;
	width:100%;
	height:80px;
}
#header h1 {
	color:#fff;
	float:left;
	font:3.2em 'Trebuchet MS', Verdana, sans-serif;
	margin:0 0 0 20px;
	padding-top:12px;
}

.adminBar
{
	padding:8px 0px 0px 32px;
}

/* ----------------------------------------------------------------------
								MAINPANE/POSTS
-------------------------------------------------------------------------*/
#contentPane	
{
	float: left;
	width: 100%;
	margin-right: -300px;
}

#posts 
{
	margin-right: 300px;
	padding:0px 32px 32px 32px;
	background:#fff url('image/background_content.jpg') center repeat-y;
}

#posts .post
{
	margin-top:32px;
	padding:12px 0px 0px 16px;
	background: #FFF url(post-bg.png) repeat-x;
	border:solid 1px #EEEEEE;
}

#posts h4.dayHeader
{
	font:1.0em 'Trebuchet MS', Verdana, sans-serif;
	margin:0px;
	padding:0px;
	font-style:italic;
	color:#aaaaaa;
}

.post h2.title
{
	padding:12px 0px 0px 0px;
}

.post .author
{
	padding:12px 0px 0px 24px;
	color:#999;
}

.post .content
{
	padding:12px 0px 0px 0px;
}

.post .tags
{
	padding:12px 0px 0px 24px;
	color:#999;
}

.post .tags a
{
	text-decoration:underline;
}

.post .content p	
{
	padding:8px;
}

.blogEntryEditLinks
{
	margin:12px;
	padding:4px 4px 4px 12px;
	background-color:#f0fae4;
}
/* ----------------------------------------------------------------------
								COMMENTS
-------------------------------------------------------------------------*/
.comments
{
	padding:12px 0px 12px 0px;
}

.comments h3
{
	font-size:1.0em;
	padding:0px 0px 12px 24px;
}

.comment
{
	background:#ffffff url(comment-bg.png) repeat-x;
	margin:8px 8px 0px 32px;
}

.comment p.commentAuthor
{
	font-size:small;
	padding:4px;
}

.comment p.commentDetailsUrl
{
	font-size:small;	
	padding:4px;
}

.comment p.commentText
{
	padding:0px 0px 4px 16px;
	color:#000000;
}

.comment .blogCommentEditLinks
{
	font-weight:bold;
	font-size:small;
	margin:0px;
	padding:0px;
}

.comment .blogCommentEditLinks .linklessLink
{
	color:Maroon;
}

ol.commentList
{
	list-style-position:outside;
	margin-left:32px;
	padding:0px;
	vertical-align:middle;
}

ol.commentList li
{
	font-size:2.0em;
	padding:8px;
	border:1px solid #c0dafa;
}

ol.commentList li p
{
	font-size:medium;
}


.commentEditLinksContainer
{
	margin:0px;
	padding:0px;
}

.addCommentBox
{
	margin:16px 0px 0px 64px;
	padding:16px;
	border:solid 1px #EEEEEE;
	width:420px;	
	background:#ffffff url(comment-bg.png) repeat-x;
}

.addCommentBox h3
{
	margin:0px;
	padding:0px 0px 16px 0px;
}
/* ----------------------------------------------------------------------
								SIDEBAR
-------------------------------------------------------------------------*/
#sidebar
{
	float: left;
	width: 284px; /*Width of right column in pixels*/
	margin-right: -284px; /*Set left margin to -(RightColumnWidth) */
	margin-top:32px;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4
{
	padding-top:16px;
}

#search
{
	padding-bottom:24px;
}

#navigation ul
{
	margin:0px;
	padding:0px;
}

#navigation ul li
{
	margin:0px;
	padding:2px;
	list-style-type:none;
}

.loginStatusBox
{
	padding-top:24px;
}

.loginStatusBox a
{
	color:#AAAAAA;
}

/* ----------------------------------------------------------------------
								FOOTER
-------------------------------------------------------------------------*/
#footer {
	background:#323232 url('image/background_footer.jpg') center repeat-y;
	clear:both;
	height:100px;
	width:100%;
	margin-top:32px;
}

#footer p {
	color:#fff;
	line-height:100px;
	text-align:center;
}