<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditEntryView.ascx.cs" Inherits="Blogs_EditEntryView" %>
<%@ Register Src="EditEntryControl.ascx" TagName="EditEntryControl" TagPrefix="uc1" %>
<asp:Panel ID="mainPanel" runat="server">
</asp:Panel>
