<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SearchResultsView.ascx.cs"
    Inherits="Blogs_SearchResultsView" %>    
<%@ Reference Control="~/Blogs/BlogEntriesView.ascx" %>

<asp:Panel ID="entriesPanel" runat="server">
</asp:Panel>
