<%@ Page language="c#" CodeFile="CaptchaImageGen.aspx.cs" AutoEventWireup="false" Inherits="CaptchaImage.CaptchaImageGen" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Captcha Image</title>
	</head>
	<body>
		<form id="JpegImage" method="post" runat="server">
		</form>
	</body>
</html>
