<%@ Page Language="C#" %>

<%@ Register Src="Blogs/AdminBar.ascx" TagName="AdminBar" TagPrefix="uc1" %>
<%@ Register Src="Blogs/SearchResultsView.ascx" TagName="SearchResultsView" TagPrefix="uc2" %>
<%@ Register Src="Blogs/BlogEntriesView.ascx" TagName="BlogEntriesView" TagPrefix="uc3" %>
<%@ Register Src="Blogs/BlogEntryControl.ascx" TagName="BlogEntryControl" TagPrefix="uc4" %>
<%@ Register Src="Blogs/BlogRollControl.ascx" TagName="BlogRollControl" TagPrefix="uc5" %>
<%@ Register Src="Blogs/CommentControl.ascx" TagName="CommentControl" TagPrefix="uc6" %>
<%@ Register Src="Blogs/CommentEntryControl.ascx" TagName="CommentEntryControl" TagPrefix="uc7" %>
<%@ Register Src="Blogs/ControlPanel.ascx" TagName="ControlPanel" TagPrefix="uc8" %>
<%@ Register Src="Blogs/EditEntryControl.ascx" TagName="EditEntryControl" TagPrefix="uc9" %>
<%@ Register Src="Blogs/EditEntryView.ascx" TagName="EditEntryView" TagPrefix="uc10" %>
<%@ Register Src="Blogs/LinksControl.ascx" TagName="LinksControl" TagPrefix="uc11" %>
<%@ Register Src="Blogs/ManagePostsView.ascx" TagName="ManagePostsView" TagPrefix="uc12" %>
<%@ Register Src="Blogs/MonthControl.ascx" TagName="MonthControl" TagPrefix="uc13" %>
<%@ Register Src="Blogs/SearchControl.ascx" TagName="SearchControl" TagPrefix="uc14" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>Go Mono!</h1>
    </form>
</body>
</html>
