html { 
  padding:0px;
  margin:0px;
}

body {
	background-color: #e1ddd9;
	background:#ffffff;
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size:14px;
	line-height:0.56cm;  color:#564b47;  
	padding:0px 20px;
	margin:0px;
}

.editEntryContainer
{
	padding:24px;
	border:1px solid #CCCCCC;
	width:720px;
}

.editEntryTableRow
{
	background-color:#EEEEEE;
	padding:4px;
}

.editEntryTableRowAlternating
{
	background-color:#F6F6F6;
	padding:4px;
}

.linklessLink {	cursor:pointer; }
.linklessLink:hover { color:#003399 }

.topSearchEnginesBox
{
	margin-top:12px;
	padding:0px 12px 12px 12px;
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	width:400px;
}

.activityStatsCol
{
	height:32px;
	background-color:#f6f6f6;
	border:1px solid #FFFFFF;
	padding:4px;
}

.logEventHeader
{
	padding:4px;
	background-color:#DDDDDD;
}

.logEventData 
{ 
	padding:8px; 
}

.configEditTableCell
{
	padding:8px;
	border:1px solid #fafafa;
	background-color:#EEEEEE;	
}